


body {
  max-width: 1290px;
}
header, footer {
  font-size:20pt; 
  text-align: center; 
  margin-top: 1em;
  margin-bottom: 1em;
   }
ul {
    padding: 0;
    margin-left: 1em;
    font-size: 16pt;
   }
   .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
   }
   .grid__item {
    padding: 20px;
   } 
   .grid__item__wrap-title {
    font-size: 20pt; /* Размер буквы */
    font-weight:700;/* Жирный шрифт */
   }
   .grid__item__inner-title {
    border-bottom: 2px dotted #000;
   }
   .grid__item__eating {
    background: red; /* Цвет фона под заголовком */
    color: white; /* Цвет текста */
    padding: 3px; /* Поля вокруг текста */
    border-radius: 3px; /* радиус скругления */
   }
   .divider {
    color: red;
   }

   .grid__item__marketing {
    font-size:14pt;
    margin-top: 1em;
    margin-bottom: 0em;
  
   }
   .grid__item__supp {
    font-size:14pt; /* Размер шрифта */
    text-align: center; /* Выравнивание по центру */
    color: green; /* Цвет текста */
    padding-top: 1em;
    padding-bottom: 1em;
   }
   .grid__item__discription {
    font-size:14pt;
    
   }
   .grid__item__discription::first-letter {
    font-size: 36pt;
    float: left;
    margin: -5px 5px -10px 0;
   }