
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Yeseva+One&display=swap');
* {
	font-family: 'Playfair Display', serif;
}
header, footer {
  font-size:20pt; 
  text-align: center; 
  margin-top: 1em;
  margin-bottom: 1em;
   }
ul {
    padding: 0;
    margin-left: 1em;
    font-size: 16pt;
   }
   .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
   }
   .grid__item {
    padding: 20px;
   } 
   .grid__item__wrap-title {
   	font-family: 'Yeseva One', cursive;
    font-size: 20pt;
    font-weight:700;
   }
   .grid__item__inner-title {

    border-bottom: 2px dotted #000;
   }
   .grid__item__eating {
    background: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
   }
   .divider {
    color: red;
   }

   .grid__item__marketing {
    font-size:14pt;
    margin-top: 1em;
    margin-bottom: 0em;
  
   }
   .grid__item__supp {
    font-size:14pt;
    text-align: center;
    color: green;
    padding-top: 1em;
    padding-bottom: 1em;
   }
   .grid__item__discription {
    font-size:14pt;
    
   }
   .grid__item__discription::first-letter {
    font-size: 36pt;
    float: left;
    margin: -5px 5px -10px 0;
   }